/* General Styling */
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none !important;
    list-style-type: none !important;
    user-select: none;
    user-zoom: fixed;
}
.container-fluid{
    align-items: baseline !important;
    justify-content: space-around !important;
    display: flex;
}
.navbar-brand{
    width: 8%;
}
#links{
    align-items: baseline;
    border: 1px solid black;
    padding: 0px 5px;
   color: white !important;
   background-color: black;
   font-size: x-small !important;
   height: fit-content;
}
.nav-link{
    color: white !important;
}

._social_medial{
    display: flex;
    justify-content: center;

}
._social_medial a{
  color: #a31515;
}
#icon .nav-link{
    font-size: x-small !important;
    color: #a31515 !important;
}

  /*================================================================== LARGE SCREEN ========================================= */
  @media only screen and (max-width: 991px) {
    .navbar-nav{
        display: none !important;
    }
    .cancel{
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .cancel img{
        height: 50px;
        width: 50px;
    }
    .nav-sm-view-bar{
        width: 100% !important;
        display: flex !important;
    }
    .offcanvas{
        background-color: #761c1c !important;
        width: 80% !important;
        padding: 0% 10px;
    }
    .offcanvas-header, .offcanvas-body{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 700;
       
      
    }
    .list{
        margin: 10% 0px;
        font-weight: 600;
        justify-content: space-between;
    }
    .list a{
        color: #fff;
    }
    .navbar-brand{
        width: 100% !important;
        border: none !important;
        border-collapse: collapse !important;
    }
    #home{
        width: 100%;
        height: fit-content;
        background-color: black;
    }
    .homeLog{

        padding: 3% 5%;

        display: flex;
        justify-content: end;
        font-size: 30px;
        font-family: cursive !important;
        
    }
    .homeBooking{
        height: fit-content;
        width: 100%;
        margin-top: 3%;
        color: #a31515;
        display: flex;
        
        align-items: center !important;
    }
    .text-inner a{
        color: #a31515;
        font-size: 25px;
        font-weight: 700;
    }
    #categorie{
        display: none !important;
       }
       .logo img{
        margin-bottom: 15% !important;
    }
    
    ._text_inner{
        margin-top: 70% !important;
        text-align: center;
        font-size: 15px !important;
        padding: 25px;
        
    }
    .card{
        width: 100% !important;
        /* margin-top: 2% !important; */
     }
     .card img{
         height: 200px !important;
         width: 75% !important;
         margin: auto;
     }
     .card-body{
         border-bottom: 2px solid #761c1c;
         width: 80%;
         margin: 0% 0px 10% 0px !important;
      
     }
     .card-title{
         color: #761c1c !important;
         font-style: oblique !important;
         font-size: 20px !important;
         font-weight: 700;
     }
     .card-link{
         font-size: 13px !important;
     }
     .card-body-bottom{
         margin-bottom: 10%;
     }
     .card-text{
         margin-bottom: 15% !important;
     }
     .btn{
         width: 80%;
         font-weight: 700 !important;
     }
     .btn:hover{
         width: 85%;
         height: 40px;
         background-color: #761c1c !important;
     }
     .nav{
         width: 100% !important;
         padding-top: 0% !important;
         
     }
     .nav .nav-link{
         font-size: 20px !important;
     
     }
     #braidsTypes{
         padding: 5% 0px !important;
         margin-top: -18%;
     }
     .slider .card{
        flex: 1;
        margin: 0 10px;
        background: #fff;
        width: 95% !important;
      }

      #book{
        margin-top: 0%;
        background-color: #761c1c !important;
      }
      .book-text{
        width: 80% !important;
        color: #fff;
        padding: 0% 2px 5px 2px !important;   
    }
    .modal-header{
      margin: 5% 0px 5% 0px;
    }
  
    .innerTitle{
      font-weight: 600;
      margin:  5% 0px ;
      text-align: center ;
    }
       
  }

  /*================================================================== SMALL SCREEN ========================================= */
  @media only screen and (max-width: 575px) {
    .navbar-nav{
        display: none !important;
    }
    .nav-sm-view-bar{
        width: 100% !important;
        display: flex !important;
    }
    .offcanvas{
        background-color: #761c1c !important;
        width: 80% !important;
    }
    .offcanvas-header, .offcanvas-body{
        color: whitesmoke;
        font-size: 12px;
        font-weight: 700;
      
    }
    .list{
        margin: 20% 0px;
        font-weight: 600;
        justify-content: space-between;
    }
    .list a{
        color: #fff;

    }
    #categorie{
       display: none !important;
      }

      .icon-inner a{
        color: #761c1c;
      }
      
    /* =========================== DROP DOWN =============== */
    .dropdown-menu{
        height: fit-content;
        width: 100%;
        background-color: #761c1c !important;
        border: none !important;
       
    }
    .dropdown-item{
        color: #fff;
        margin: 10% 0px;
        font-size: 12px !important;
        padding: 0px 5px !important;
    }
    /* ============================================== */
    .navbar-brand{
        /* width: 100% !important; */
        border: none !important;
        border-collapse: collapse !important;
    }
    #home{
        width: 100%;
        height: fit-content;
        background-color: black;
    }
 
    .homeLog{

        padding: 3% 5%;
        
        display: flex;
        justify-content: end;
        font-size: medium;
        font-family: cursive !important;
        
    }
    .homeBooking{
        height: fit-content;
        width: 100%;
        margin-top: 3%;
        color: #a31515;
        display: flex;
        
        align-items: center !important;
    }
    .text-inner a{
        color: #a31515;
        font-size: 15px;
        font-weight: 700;
    }
    .logo img{
        margin-bottom: 25% !important;
    }
    
    ._text_inner{
        margin-top: 70% !important;
        text-align: center;
        font-size: 12px !important;
        padding: 25px;
        
    }
    .card{
       width: 100% !important;
       /* margin-top: 5% !important; */
    }
    .card img{
        height: 250px !important;
        width: 65% !important;
        margin: auto;
    }
    .card-body{
        border-bottom: 2px solid #761c1c;
        width: 80%;
        margin: 0% 0px 10% 0px !important;
     
    }
    .card-title{
        color: #761c1c !important;
        font-style: oblique !important;
        font-size: 25px;
        font-weight: 700;
    }
    .card-link{
        font-size: 13px !important;
    }
    .card-body-bottom{
        margin-bottom: 10%;
    }
    .card-text{
        margin-bottom: 15% !important;
    }
    .btn{
        width: 80%;
        font-weight: 700 !important;
    }
    .btn:hover{
        width: 85%;
        height: 40px;
        background-color: #761c1c !important;
    }
    .nav{
        width: 100% !important;
        padding-top: 0% !important;
        
    }
    .nav .nav-link{
        font-size: 12px !important;
    
    }
    #braidsTypes{
        padding: 0% 0px !important;
        margin-top: -18%;
    }
    #container {
      margin-top: -165% !important;
    }
    #slider-container {
      height: 550px !important;
    }
    .slider{
        display: none !important;
      }

      #book{
        margin-top: 40% !important;
        background-color: #761c1c !important;
      }
      .book-text{
        width: 100% !important;
        color: #fff;
        padding: 5% 5px 10px 5px !important;   
    }
    .modal-header{
      margin: 13% 0px 10% 0px !important;
    }
  
    .innerTitle{
      font-weight: 600;
      margin:  10% 0px !important;
      text-align: center !important;
    }

    footer{
      margin-top: 5%;
      padding: 5% 0px !important;
      font-size: small !important;
    }
    ._social_medial{
      margin-bottom: 10px;
    }
    footer a{
      color: #fff;
    }
  }

  /* =================== BIG SCREEN CATEGORIES ==========================*/
  #categorie{
    height: fit-content;
    width: 100%;
    background-color: #761c1c;
  }
  .lg-categories{
    display: flex;
    justify-content: space-around;
    font-size: xx-small;
    padding:  10px 0px;
    font-weight: 700;

  }
  .lg-categories a{
    color: #fff;
  }

  .lg-categories a:hover{
    color: #a31515;
  }

.dropdown-menu{
    background-color: #761c1c !important;
    width: fit-content;
    font-size: x-small !important;
  }

  /* ================= LANDING PAGE VIDEO =================== */
  #landingPage{
    height: 95vh;
    width: 100%;
    /* background-color: #761c1c; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
  }

  #myVideo {
    opacity: 0.5;
    position: relative !important;
    top: 10px;
    right: 0;
    bottom: 0;
    width:  100% ;
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo img{
    margin-bottom: 5%;
}
  .overlay{
    height: 100%;
    width: 100%;
    position: absolute !important;
    bottom: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.6); */
}
.overlay a{
    color: #a31515;
}
.overlay a:hover{
    color: #fff;
}
._text_inner{
    margin-top: 25%;
    text-align: center;
    font-size: 15px;
    color: rgb(224, 65, 65);
    font-style: oblique !important;
    font-weight: 700;
}

/* ===========================BRAIDS SECTION STYLE ====================== */
#braidsTypes{

    background-color: #fff;
    height: fit-content;
    position: relative !important;
    display: flex;
    justify-content: center;
    padding: 2% 0px;
}
.nav{
    padding-top: 2%;
    justify-content: center;
    height: 50px;
    /* background-color: #761c1c; */
    border-bottom: none !important;
    
}
.nav-link:hover{
    border-bottom: 2px solid #761c1c !important;
}
.nav .nav-link{
    color: #a31515 !important;
    font-style: oblique !important;

}
.tab-content{
    padding-top: 5%;
}
.card{
    border: 1px solid #761c1c !important;
   margin-bottom: 30px;
}
.card img{
    height: 200px;
    width: 70%;
    margin: auto;
}
.card-img-top{
    border: 5px solid #a31515;
    margin-top: 10% !important;
    border-radius: 100% !important;
    width: 80%;
    height: 200px;
    /* background-color: #761c1c; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-body{
    border-bottom: 2px solid #761c1c;
    width: 80%;
    margin: 5% 0px 20% 0px;
 
}
.card-title{
    color: #761c1c !important;
    font-style: oblique !important;
    font-size: 25px;
    font-weight: 700;
}
.card-link{
    color: #761c1c;
    text-decoration: underline !important;
}
.card-body-bottom{
    margin-bottom: 10%;
}
.card-text{
    margin-bottom: 25%;
    font-size: 20px;
    font-weight: 600;
}
.btn{
    width: 80%;
    font-weight: 700;
}
.btn:hover{
    width: 85%;
    height: 40px;
    background-color: #761c1c !important;
}

/* =================================================== SLIDER STYLING ==================================== */
#container {
    height: fit-content;
    width: 100%;
    margin-top: -170%;
    padding: 0;
    /* background: teal; */
    display: grid ;
    place-items: center;
    
  }
  
  #slider-container {
    height: 450px;
    width: 100%;
    /* max-width: 1400px; */
    /* background: #54d5e4; */
    /* box-shadow: 5px 5px 8px gray inset; */
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #761c1c;
    border-top: 8px solid #761c1c;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    background-color: #a847a4;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
  }
  
  #slider-container #slider .slide span {
    height: fit-content;
    width: 100%;
    background-color: #761c1c;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }

  span video{
    width: 100%;
    background-position: center;
    background-size: contain;
  }

  @media only screen and (max-width: 768px){
    .slider .card{
      flex: 1;
      margin: 0 10px;
      background: none !important;
      width: 100%;
      height: 400px !important;
    }

    .slider .card .img img{
      height: 500px !important;
      width: 100%;
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain !important;
    }
    .slider .card .content{
  
      position: absolute !important;
      padding-top: 75% !important;
      left: 4% !important;
      
  }
  }
  /* ============================== OWL-CAROUSEL STYLE ============ */
  .slider{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;

  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
    width: 95%;
    height: 400px !important;
  }
  .slider .card .img{
    height: 400px !important;
    width: 100%;
    /* background-color: #761c1c; */
    opacity: 0.5;
  }
  .slider .card .img img{
    height: 500px !important;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
  }
  .slider .card .content{
    padding: 10px 20px;
    position: absolute !important;
    padding-top: 55%;
    left: 55%;
    
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
  .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #761c1c;
    line-height: 20px;
  }
  .card .content p{
    text-align: justify;
    margin: 10px 0;
  }
  .card .content .btn-pro{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  .card .content .btn-pro button{
    background: #761c1c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .card .content .btn-pro button:hover{
    transform: scale(0.9);
  }
  
  #book{
    /* opacity: 0.5; */
    height: fit-content;
    justify-content: start;
    width: 100%;
    background-color: #761c1c;
    position: relative;
  }
.book-text{
    text-align: start;
    height: fit-content;
    width: 100%;
    color: #fff;
    padding: 20px;   
}
.modal-header{
    margin: 5% 0px 5% 0px;
  }

  .innerTitle{
    font-weight: 600;
    margin:  5% 0px;
    text-align: center;
  }

  /* .bottom-video{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
  } */

  footer{
    margin-top: 5%;
    padding: 3%;
    height: fit-content;
    background-color: #000;
    text-align: center;
    border-top-left-radius: 100px;
    border-top: 3px solid #761c1c;
    color: #fff;
  }
  footer a{
    color: #fff;
  }


  /* <!-- ======================================================== GALLERY PAGE STYLING ================================================ --> */
  #gallery{
    position: relative;
    width: 100%;
    margin-top: 10%; 
    height: 80vh;
    margin-bottom: 10%;
    display: flex;
    /* background-color: #000; */
  }

  #gallery .carousel{
    height: 80vh;
    width: 100%;
    background-color: #761c1c;
    height: 80vh;
  }
  #gallery .carousel-item{
    background-position: center;
    background-size: contain;
    height: 80vh;
  }
  #gallery .carousel-item img{
    height: fit-content;

  }
  #gallery .carousel .carousel-indicators{
    height: 150px;
    width: 100% !important;
    background-color: #9c1111;

    
  }
  #gallery .carousel .carousel-indicators .inner-box{
    height: 150px;
    width: 100%;
    /* background-color: #000; */
    background-size: contain;
    background-repeat: no-repeat;
  }
  #gallery .carousel .carousel-indicators .inner-box img{
    height: 150px;
    width: 100%;
        background-color: #000;
  }